
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="page">
        <!-- Navbar -->
       

        
                        <div class="card">
                            <div class="card">
                                <br/>
                               <!-- <h3 class="card-title"> Digital Modules </h3>-->
                               <h3 style="text-align:center"> Digital Modules </h3>
                                <br/>
                            </div>
                            <div class="col-12">

                                <div class="row row-cards row-deck">
                                    <div class="col">
                                        <div class="card">
										<div class="card-status-top bg-red"></div>
                                            <div class="card-header">
                                                <span class="card-title"><strong>Data Lake</strong>
                                                </span>
                                            </div>
                                            <div class="card-body">Your data is your most valuable asset – let us help you leverage it with our data strategy proposal</div>
                                                             <div class="card-footer">
                      <a href="#" >More Information</a>
                      </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
										<div class="card-status-top bg-green"></div>
                                            <div class="card-header">
                                                <span class="card-title"><strong>Deduction Workflow</strong>
                                                </span>
                                            </div>
                                            <div class="card-body">Get ahead of the competition with our deductions workflow solution – the key to efficient and accurate deductions management</div>
                  <div class="card-footer">
                      <a href="#" >More Information</a>
                      </div>                                       
									   </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
										<div class="card-status-top bg-blue"></div>
                                            <div class="card-header">
                                                <span class="card-title"><strong>Validation Engine</strong>
                                                </span>
                                            </div>
                                            <div class="card-body">Say goodbye to deductions disputes and missed opportunities – our validation engine ensures accuracy and compliance</div>
                                                           <div class="card-footer">
                      <a href="/coop" >More Information</a>
                      </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="col-8">
                                <div class="row row-cards row-deck">
                                    <div class="col">
                                        <div class="card">
										<div class="card-status-top bg-purple"></div>
                                            <div class="card-header">
                                                <span class="card-title"><strong>Insight Engine</strong>
                                                </span>
                                            </div>
                                            <div class="card-body">Gain powerful insights into your deductions and make informed decisions with our cutting-edge insight engine</div>
                                                            <div class="card-footer">
                      <a href="#" >More Information</a>
                      </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
										<div class="card-status-top bg-yellow"></div>
                                            <div class="card-header">
                                                <span class="card-title"><strong>Billback and Recovery</strong>
                                                </span>
                                            </div>
                                            <div class="card-body">Get ahead of the deductions game with our powerful billback and recovery solution – the ultimate tool for profitable deductions management</div>
                                           <div class="card-footer">
                      <a href="#" >More Information</a>
                      </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>


                        <br />
                          
                        </div>


                    </div>
                {% comment %} </div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    

      



{% endblock %}